In [17]:
import pandas as pd
import numpy as np
import random

Create a dataframe of ten rows, four columns with random values. Convert some values to nan values. Write a Pandas program which will highlight the nan values.

In [137]:
df = pd.DataFrame(
    {"a": [random.randint(0,100) for i in range(10)],
     "b": [random.randint(0,100) for i in range(10)],
     "c": [random.randint(0,100) for i in range(10)],
     "d": [random.randint(0,100) for i in range(10)]},
     index = [i for i in range(10)]
)

for i in range(random.randint(1,10)): # Genero casualmente un numero di valori da sostituire
    column = random.choice(df.columns) # Scelgo casualmente la colonna da modificare
    value = random.choice(df[column]) # Scelgo casualmente il valore da sostituire nella colonna selezionata
    df[column] = df[column].replace(value, np.nan) # Sostituisco il valore scelto con NaN
    
df

      a     b     c   d
0  31.0  24.0   9.0  88
1   NaN  38.0  13.0  35
2   3.0  84.0  55.0  91
3   NaN   3.0   NaN  70
4   NaN   2.0  77.0  36
5  69.0  71.0  67.0  56
6  65.0   NaN   NaN  75
7  91.0  29.0  47.0  17
8  78.0  23.0   NaN  58
9   NaN  93.0  39.0  10

In [138]:
df.isna().sum() # Numero di NaN per colonna

a    4
b    1
c    3
d    0
dtype: int64