In [3]:
import pandas as pd
import random

Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight dataframe’s specific columns with different colors.

In [5]:
df = pd.DataFrame(
    {"a": [random.randint(0,100) for i in range(10)],
     "b": [random.randint(0,100) for i in range(10)],
     "c": [random.randint(0,100) for i in range(10)],
     "d": [random.randint(0,100) for i in range(10)]},
     index = [i for i in range(10)]
)

In [18]:
def highlight_column(d): # d è la colonna da colorare
    index = df.columns.get_loc(d.name) # ottengo l'indice della colonna da colorare
    color = 'green' if index%2 == 0 else 'red' # verde per colonne di indice pari, rosso per quelle di indice dispari
    return [f'background-color: {color}' for i in d]

df.style.apply(highlight_column, axis = 0)