In [1]:
import pandas as pd

Write a Pandas program to find number of consumption of wine per person greater than 2 in world alcohol consumption dataset.

In [ ]:
df = pd.read_csv("world_alcohol - world_alcohol.csv")
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [54]:
df[(df["Beverage Types"] == "Wine") & (df["Display Value"] > 2)]

    Year WHO region      Country Beverage Types  Display Value
57  1989     Europe      Croatia           Wine           5.10
81  1985     Europe  Netherlands           Wine           2.54
96  1985     Europe   Luxembourg           Wine           7.38