In [1]:
import pandas as pd

Write a Pandas program to filter those records where WHO region matches with multiple values (Africa, Eastern Mediterranean, Europe) from world alcohol consumption dataset

In [5]:
df = pd.read_csv("world_alcohol - world_alcohol.csv")
df.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [11]:
df["WHO region"].unique()

array(['Western Pacific', 'Americas', 'Africa', 'Eastern Mediterranean',
       'Europe', 'South-East Asia'], dtype=object)

In [17]:
df[(df["WHO region"] == "Africa") | (df["WHO region"] == "Eastern Meditteranean") | (df["WHO region"] == "Europe")]

,Year,WHO region,Country,Beverage Types,Display Value
2,1985,Africa,Cte d'Ivoire,Wine,1.62
6,1987,Africa,Mauritius,Wine,0.13
7,1985,Africa,Angola,Spirits,0.39
9,1984,Africa,Nigeria,Other,6.10
10,1987,Africa,Botswana,Wine,0.20
15,1987,Africa,Guinea-Bissau,Wine,0.07
17,1989,Africa,Seychelles,Beer,2.23
18,1984,Europe,Norway,Spirits,1.62
19,1984,Africa,Kenya,Beer,1.08
22,1984,Europe,Romania,Spirits,2.67
23,1984,Europe,Turkey,Beer,0.44
24,1985,Africa,Comoros,Other,NaN
26,1985,Europe,United Kingdom of Great Britain and Northern I...,Wine,1.36
29,1986,Europe,Italy,Other,NaN
30,1986,Africa,Sierra Leone,Other,4.48
32,1989,Africa,Mauritius,Beer,1.60
33,1985,Africa,Mauritania,Other,0.00
34,1986,Europe,Russian Federation,Wine,0.80
37,1986,Europe,Sweden,Beer,3.04
39,1987,Africa,Burkina Faso,Spirits,0.01
40,1987,Europe,Austria,Spirits,1.90
41,1986,Europe,Czech Republic,Beer,6.82
42,1984,Europe,Ukraine,Spirits,3.06
44,1985,Europe,Lithuania,Other,NaN
45,1989,Africa,Zimbabwe,Beer,0.19
49,1986,Europe,Malta,Wine,1.49
50,1985,Europe,Switzerland,Other,0.30
51,1987,Europe,Finland,Beer,3.88
57,1989,Europe,Croatia,Wine,5.10
67,1989,Africa,Namibia,Beer,0.00
68,1989,Africa,Uganda,Beer,0.12
69,1986,Africa,Togo,Spirits,0.42
70,1986,Africa,Madagascar,Spirits,1.02
71,1985,Africa,Mali,Other,0.57
72,1987,Africa,Mauritania,Other,0.00
76,1985,Africa,Comoros,Beer,0.02
77,1985,Africa,Cameroon,Spirits,0.01
79,1989,Europe,Finland,Other,2.09
80,1985,Africa,Malawi,Other,0.84
81,1985,Europe,Netherlands,Wine,2.54
82,1987,Europe,Ireland,Spirits,2.25
83,1986,Europe,Ukraine,Other,NaN
85,1985,Africa,Democratic Republic of the Congo,Wine,0.01
90,1989,Africa,Malawi,Wine,0.01
91,1989,Europe,Bulgaria,Beer,4.43
92,1986,Africa,Eritrea,Spirits,0.00
93,1987,Africa,Madagascar,Other,NaN
94,1985,Europe,Ukraine,Spirits,3.06
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
98,1984,Africa,Equatorial Guinea,Wine,0.00